body {
    background-color: white;
}

.name {
    color: blue;
    font-family: 'Aharoni', Arial, sans-serif;
    font-size: 60px;
    position: center;
}

.header{
    position: center;
    display: flex;
    text-align: center;
    justify-content: center; /* center horizontally */
    align-items: center;     /* center vertically */
    height: 100px;
    background-color: lightgray;
}

.login{
    text-align: center;
    right: 20px;
    background-color: rgb(111, 111, 202);
    color: white;
    border-radius: 12px;
    padding: 20px;
    justify-content: center;
    height: 330px;
}

.label{
    position: center;
    color: black;
    text-align: center;
    font-size: 40px;
    text-align: center;
}

.inputBox {
    position: center;
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 40px;
    font-size: 40px;
    padding: 20px
}

.submit{
    position: center;
    background-color: cyan;
    color: black;
    border-radius: 12px;
    padding: 20px
}

.loginButton{
    position: absolute;
    background-color: green;
    color: white;
    border-radius: 12px;
    padding: 20px;
    justify-content: center;
    transform: translateX(-50%);
}